.timer {
  color: gray;
  font-size: 3rem;
  position: fixed;
  left: 40vw ;
  top: 0;
  width: 20vw;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}